<a href="https://colab.research.google.com/github/nbmaharana2/Python/blob/main/seriesprograms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Creating series object using scalar value
import pandas as pd
s=pd.Series(data=500,index=[1,2,3])
print(s)

1    500
2    500
3    500
dtype: int64

In [5]:
# Creating series object using scalar value with index
import pandas as pd
s=pd.Series(index=[1,2],data=100)
print(s)

1    100
2    100
dtype: int64

In [4]:
# Creating series object using scalar value without index
import pandas as pd
s=pd.Series(100)
print(s)

0    100
dtype: int64

In [9]:
# Creating series object using List with and without index
import pandas as pd
s1= pd.Series([1,2,3,3])
print('Series List without s1 is')
print(s1)
s2= pd.Series([10,20,30,30], index=[1,2,3,4])
print('Series List with index s2 is')
print(s2)

Series List without s1 is
0    1
1    2
2    3
3    3
dtype: int64
Series List with index s2 is
1    10
2    20
3    30
4    30
dtype: int64

In [8]:
# Creating series object using Tuple
import pandas as pd
s1= pd.Series((1,2,3,3))
print('Series with tuple s1 is')
print(s1)

Series with tuple s1 is
0    1
1    2
2    3
3    3
dtype: int64

In [10]:
# Creating series object using Numpy Array
import pandas as pd
import numpy as np
array= np.array([1.1,2.2,3.1,3.4])
s=pd.Series(data=array)
print('Series with numpy array is')
print(s)

Series with numpy array is
0    1.1
1    2.2
2    3.1
3    3.4
dtype: float64

In [12]:
# Creating series object using string
import pandas as pd
s1=pd.Series('Hello Friends!!!')
print(s1)
s2=pd.Series(data=['H','e','l','1','o'])
print(s2)

0    Hello Friends!!!
dtype: object
0    H
1    e
2    l
3    1
4    o
dtype: object

In [13]:
# Creating series object using multiple strings
import pandas as pd
s1=pd.Series(data=['Hello','my','dear','students'])
print(s1)

0       Hello
1          my
2        dear
3    students
dtype: object

In [15]:
# Creating series object using Dictionaries
import pandas as pd
s1=pd.Series(data={'key1':'value1','key2':'value2','key3':'value3'})
print(s1)
s2=pd.Series(data={'student1':100,'student2':80,'student3':90})
print(s2)

key1    value1
key2    value2
key3    value3
dtype: object
student1    100
student2     80
student3     90
dtype: int64